.message{
  display: grid;
  grid-template-columns:60% 20%;
  grid-template-areas: 
  "sendTo status"
  "content status";
  margin-bottom: 5vh;
  padding: 1vh 1vw;
}
.message .sendTo{
      grid-area: sendTo;
      text-align: left;
      padding-top: 1vh;
}
.message .status{
      grid-area: status;
      text-align:center;
      font-size: 50px;
      padding-top: 2vh;
}

.accept{
	color: green;
}

.reject{
	color: red;
}

.waiting{
	color: #909090;
}

.message .content{
	grid-area: content;
	padding-top:1vh;
}

#empty-inbox{
	width:30vw;
	height: 30vh;
        margin:6% auto;
		padding:15% 2px;
		align-content:center;
		text-align:center;
        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
        color:grey;
}


@media screen and (max-width: 800px) {
	.message{
		grid-template-columns: 50% 60%;
    }
    #empty-box{
    	width:100vw;
    	height:100vh;
    }